<section class="adv-section">
  <div class="container">
    <h2 class="adv-title">aDVANTAGES</h2>

    <div class="adv-bcg">
      <img src="../assets/advantages/adv-1.jpg" alt="Girl" class="adv-avatar"/>
      <h3>Immersive Storyline</h3>
      <p>
        Dive into the rich lore of Okara, a mythical city full of ancient
        legends and untold secrets.
      </p>

      <div>
        <img src="../assets/arrow.png" alt="Arrow1" />
        <img src="../assets/arrow.png" alt="Arrow2" />
      </div>
    </div>
  </div>
</section>
