<section id="#advantages" class="adv-section">
  <div class="container">
    <h2 class="adv-title">aDVANTAGES</h2>

    <div class="adv-bcg">
      <div class="adv-container swiper">
        <ul class="adv-list swiper-wrapper">
          <li class="adv-item swiper-slide">
            <div class="adv-item-flex">
              <img
                src="assets/advantages/adv-1.jpg"
                alt="Girl"
                class="adv-item-avatar"
              />
              <h3 class="adv-item-title">Immersive Storyline</h3>
            </div>
            <p class="adv-item-text">
              Dive into the rich lore of Okara, a mythical city full of ancient
              legends and untold secrets.
            </p>
          </li>

          <li class="adv-item swiper-slide">
            <div class="adv-item-flex">
              <img
                src="assets/advantages/adv-2.jpg"
                alt="Girl"
                class="adv-item-avatar"
              />
              <h3 class="adv-item-title">Challenging Puzzles</h3>
            </div>
            <p class="adv-item-text">
              Test your problem-solving skills with a variety of brain-teasers,
              from logic challenges to pattern recognition.
            </p>
          </li>

          <li class="adv-item swiper-slide">
            <div class="adv-item-flex">
              <img
                src="assets/advantages/adv-3.jpg"
                alt="Girl"
                class="adv-item-avatar"
              />
              <h3 class="adv-item-title">Dynamic Gameplay</h3>
            </div>
            <p class="adv-item-text">
              Interactive environments, time-limited challenges, and evolving
              storylines ensure a fresh experience with every play.
            </p>
          </li>

          <li class="adv-item swiper-slide">
            <div class="adv-item-flex">
              <img
                src="assets/advantages/adv-4.jpg"
                alt="Girl"
                class="adv-item-avatar"
              />
              <h3 class="adv-item-title">Stunning Visuals</h3>
            </div>
            <p class="adv-item-text">
              Experience breathtaking graphics, atmospheric lighting, and
              meticulously crafted scenes that bring Okara to life.
            </p>
          </li>

          <li class="adv-item swiper-slide">
            <div class="adv-item-flex">
              <img
                src="assets/advantages/adv-5.jpg"
                alt="Girl"
                class="adv-item-avatar"
              />
              <h3 class="adv-item-title">Replayability</h3>
            </div>
            <p class="adv-item-text">
              With multiple pathways and outcomes, each escape attempt offers a
              unique adventure.
            </p>
          </li>
        </ul>

        <div class="adv-arrow-list">
          <div class="swiper-button-prev-custom"></div>
          <div class="swiper-button-next-custom"></div>
        </div>
      </div>

      <img src="assets/yellow-drops.png" alt="Drops" class="adv-drops" />
    </div>
  </div>
</section>
