<section class="adv-section">
  <div class="container">
    <h2 class="adv-title">aDVANTAGES</h2>

    <div class="adv-bcg">
      <div class="adv-container">
        <ul class="adv-list">
          <li class="adv-item">
            <img
              src="assets/advantages/adv-1.jpg"
              alt="Girl"
              class="adv-item-avatar"
            />
            <h3 class="adv-item-title">Immersive Storyline</h3>
            <p class="adv-item-text">
              Dive into the rich lore of Okara, a mythical city full of ancient
              legends and untold secrets.
            </p>
          </li>
        </ul>

        <div class="adv-arrow-list">
          <img
            src="assets/advantages/arrow-left.png"
            alt="Left arrow"
            class="adv-arrow-item"
          />
          <img
            src="assets/advantages/arrow-right.png"
            alt="Right arrow"
            class="adv-arrow-item"
          />
        </div>
      </div>

      <img src="assets/yellow-drops.png" alt="Drops" class="adv-drops" />
    </div>
  </div>
</section>
