<section id="#description">
  <div class="container description-container">
    <div>
      <h2 class="description-title">
        gAME <span class="accent-color">DESCRIPTION</span>
      </h2>
      <p class="description-text">
        Okara Escape is a heart-pounding escape game that plunges you into a
        world of puzzles, secrets, and ancient mysteries. Trapped within the
        mythical city of Okara, you must solve intricate puzzles, decipher
        cryptic messages, and unlock hidden paths to escape. Each level takes
        you deeper into the city's enigmatic past, testing your wits and courage
        at every turn. Prepare to immerse yourself in a game where every choice
        matters, every puzzle reveals a story, and every step leads you closer
        to freedom—or deeper into Okara’s grip.
      </p>
    </div>
    <!-- <img
      src="assets/description.jpg"
      alt="girl from the game"
      class="description-img"
    /> -->

    <picture>
      <source
        srcset="./assets/description.jpg 1x, ./assets/description@2x.jpg 2x"
      />
      <img
        src="assets/description.jpg"
        alt="girl from the game"
        class="description-img"
      />
    </picture>
  </div>
</section>
