<footer>
  <div class="container footer-container">
    <div class="footer-flex-container">
      <nav>
        <div class="footer-nav-group">
          <ul>
            <li class="footer-nav-item">
              <a href="privacy-policy.html" class="footer-nav"
                >Privacy Policy</a
              >
            </li>
            <li class="footer-nav-item">
              <a href="terms-and-conditions.html" class="footer-nav"
                >Terms and Conditions</a
              >
            </li>
          </ul>

          <ul>
            <li class="footer-nav-item">
              <a href="#description" class="footer-nav">Game description</a>
            </li>
            <li class="footer-nav-item">
              <a href="#advantages" class="footer-nav">Advantages</a>
            </li>
            <li class="footer-nav-item">
              <a href="#howtoplay" class="footer-nav">How to Play</a>
            </li>
            <li class="footer-nav-item">
              <a href="#uniqueness" class="footer-nav">Our uniqueness</a>
            </li>
            <li class="footer-nav-item">
              <a href="#gallery" class="footer-nav">Gallery</a>
            </li>
          </ul>
        </div>
      </nav>

      <div>
        <p class="footer-text">Let’s start!</p>

        <ul class="footer-store-list">
          <li>
            <a
              href="https://apps.apple.com/us/app/okara-escape-merge-story/id6459365213"
              ><img src="assets/app-store-btn.png" alt="App store button"
            /></a>
          </li>
          <li>
            <a
              href="https://play.google.com/store/apps/details?id=com.cy.escapemerge"
              ><img src="assets/google-play-btn.png" alt="Google play button"
            /></a>
          </li>
        </ul>
      </div>
    </div>

    <img
      src="../assets/footer-icon.jpg"
      alt="Logo"
      width="136"
      height="136"
      class="footer-logo"
    />

    <p class="footer-rights">All rights reserved epicwinglow.com | 2025</p>
  </div>
</footer>
