<footer>
  <div class="container footer-container">
    <div class="footer-flex-container">
      <nav>
        <div class="footer-nav-group">
          <ul>
            <li class="footer-nav-item">
              <a href="privacy-policy.html" class="footer-nav"
                >Privacy Policy</a
              >
            </li>
            <li class="footer-nav-item">
              <a href="terms-and-conditions.html" class="footer-nav"
                >Terms and Conditions</a
              >
            </li>
          </ul>

          <ul>
            <li class="footer-nav-item">
              <a href="#description" class="footer-nav footer-scroll"
                >Game description</a
              >
            </li>
            <li class="footer-nav-item">
              <a href="#advantages" class="footer-nav footer-scroll"
                >Advantages</a
              >
            </li>
            <li class="footer-nav-item">
              <a href="#howtoplay" class="footer-nav footer-scroll"
                >How to Play</a
              >
            </li>
            <li class="footer-nav-item">
              <a href="#uniqueness" class="footer-nav footer-scroll"
                >Our uniqueness</a
              >
            </li>
            <li class="footer-nav-item">
              <a href="#gallery" class="footer-nav footer-scroll">Gallery</a>
            </li>
          </ul>
        </div>
      </nav>

      <div>
        <p class="footer-text">Let’s start!</p>

        <ul class="footer-store-list">
          <li class="footer-btn">
            <a
              href="https://apps.apple.com/us/app/okara-escape-merge-story/id6459365213"
              target="_blank"
            >
              <img
                srcset="
                  assets/app-store-btn.png    1x,
                  assets/app-store-btn@2x.png 2x
                "
                src="assets/app-store-btn.png"
                alt="App store button"
                width="113"
                height="38"
              />
            </a>
          </li>
          <li class="footer-btn">
            <a
              href="https://play.google.com/store/apps/details?id=com.cy.escapemerge"
              target="_blank"
            >
              <img
                srcset="
                  assets/google-play-btn.png    1x,
                  assets/google-play-btn@2x.png 2x
                "
                src="assets/google-play-btn.png"
                alt="Google play button"
                width="126"
                height="38"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>

    <img
      srcset="assets/footer-icon.jpg 1x, assets/footer-icon@2x.jpg 2x"
      src="assets/footer-icon.jpg"
      alt="Logo"
      width="136"
      height="136"
      class="footer-logo"
    />

    <p class="footer-rights">All rights reserved epicwinglow.com | 2025</p>
  </div>
</footer>
