<section id="#gallery">
  <div class="container">
    <h2 class="gallery-title">gALLERY</h2>

    <ul class="gallery-list">
      <li class="gallery-item">
        <img
          srcset="
            assets/gallery/gallery-1.jpg    1x,
            assets/gallery/gallery-1@2x.jpg 2x
          "
          src="assets/gallery/gallery-1.jpg"
          alt="Home"
          class="gallery-img"
        />
        <div></div>
      </li>

      <li class="gallery-item">
        <img
          srcset="
            assets/gallery/gallery-2.jpg    1x,
            assets/gallery/gallery-2@2x.jpg 2x
          "
          src="assets/gallery/gallery-2.jpg"
          alt="Shop"
          class="gallery-img"
        />
      </li>

      <li class="gallery-item">
        <img
          srcset="
            assets/gallery/gallery-3.jpg    1x,
            assets/gallery/gallery-3@2x.jpg 2x
          "
          src="assets/gallery/gallery-3.jpg"
          alt="Game preview"
          class="gallery-img"
        />
        <div></div>
      </li>

      <li class="gallery-item">
        <img
          srcset="
            assets/gallery/gallery-4.jpg    1x,
            assets/gallery/gallery-4@2x.jpg 2x
          "
          src="assets/gallery/gallery-4.jpg"
          alt="Tutorial how to play"
          class="gallery-img"
        />
        <div></div>
      </li>

      <li class="gallery-item">
        <img
          srcset="
            assets/gallery/gallery-5.jpg    1x,
            assets/gallery/gallery-5@2x.jpg 2x
          "
          src="assets/gallery/gallery-5.jpg"
          alt="Tutorial how to play"
          class="gallery-img"
        />
        <div></div>
      </li>
    </ul>
  </div>
</section>
