<header class="header">
  <div class="header-container">
    <picture>
      <source
        srcset="./assets/header-icon.png 1x, ./assets/header-icon@2x.png 2x"
      />
      <img
        loading="lazy"
        class="header-icon"
        src="./assets/header-icon.png"
        alt="logo"
      />
    </picture>
    <nav>
      <ul class="header-list">
        <li>
          <a class="header-link" href="#description">Game description</a>
        </li>
        <li>
          <a class="header-link" href="#advantages">Advantages</a>
        </li>
        <li>
          <a class="header-link" href="#howtoplay">How To Play</a>
        </li>
        <li>
          <a class="header-link" href="#uniqueness">Our uniqueness</a>
        </li>
        <li>
          <a class="header-link" href="#gallery">Gallery</a>
        </li>
      </ul>
    </nav>
    <button class="header-btn">
      <picture>
        <source
          srcset="./assets/burger-icon.png 1x, ./assets/burger-icon@2x.png 2x"
        />
        <img src="./assets/burger-icon.png" alt="mobile menu button" />
      </picture>
    </button>
  </div>
</header>
