<header class="header">
  <div class="header-container">
    <img class="header-icon" src="./assets/header-icon.png" alt="logo" />
    <nav>
      <ul class="header-list">
        <li class="header-item">
          <a class="header-link" href="#description">Game description</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#advantages">Advantages</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#howtoplay">How To Play</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#uniqueness">Our uniqueness</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#gallery">Gallery</a>
        </li>
      </ul>
    </nav>
    <button class="header-btn">
      <img src="./assets/burger-icon.png" alt="mobile menu" />
    </button>
  </div>
</header>
