<section class="home-section">
  <div class="container home-container">
    <div class="home-content">
      <h1 class="home-title">
        Enter the Enigmatic
        <span class="home-size-accent"
          >World of <span class="home-color-accent">OKARA</span>!</span
        >
      </h1>
      <p class="home-text">
        Will you uncover its secrets or remain <br />trapped forever?
      </p>
      <p class="home-description">
        A gripping escape game filled with
        <span class="home-description-accent"
          >puzzles,<br />
          mysteries, and thrilling adventures.</span
        >
      </p>
      <a
        class="home-google-btn"
        target="_blank"
        href="https://play.google.com/store/apps/details?id=com.cy.escapemerge"
      >
        <picture>
          <source
            srcset="
              ./assets/google-play-btn.png    1x,
              ./assets/google-play-btn@2x.png 2x
            "
          />
          <img
            class="home-google-btn-img"
            src="./assets/google-play-btn.png"
            alt="google play button"
          />
        </picture>
      </a>
    </div>
    <div class="home-images">
      <picture>
        <source
          srcset="./assets/hero-img.png 1x, ./assets/hero-img@2x.png 2x"
        />
        <img
          class="home-img left-img"
          src="./assets/hero-img.png"
          alt="okara escape game"
        />
      </picture>
      <picture>
        <source
          srcset="./assets/hero-img.png 1x, ./assets/hero-img@2x.png 2x"
        />
        <img
          class="home-img main-img"
          src="./assets/hero-img.png"
          alt="okara escape game"
        />
      </picture>
      <picture>
        <source
          srcset="./assets/hero-img.png 1x, ./assets/hero-img@2x.png 2x"
        />
        <img
          class="home-img right-img"
          src="./assets/hero-img.png"
          alt="okara escape game"
        />
      </picture>
    </div>
  </div>
</section>
