<section id="#howtoplay" class="how-play-section">
  <div class="container">
    <div class="how-play-gradient-container">
      <div class="how-play-gradient">
        <h2 class="how-play-title">
          hOW TO <span class="yellow-text">PLAY?</span>
        </h2>
      </div>
    </div>

    <h3 class="how-play-subtitle">Immersive Storyline</h3>

    <p class="how-play-text">
      Navigate through Okara’s intricate environments, uncovering hidden paths
      and ancient artifacts.
    </p>

    <img src="assets/how-to-play/how-to-play.png" alt="How to play" />

    <img src="assets/yellow-drop.png" alt="Drop" />

    <a href="">
      <img src="assets/google-play-btn.png" alt="Google play" />
    </a>
  </div>
</section>
