<section id="#howtoplay" class="how-play-section">
  <div class="container how-play-flex-container">
    <div class="how-play-text-container">
      <div class="how-play-gradient-container">
        <div class="how-play-gradient"></div>
        <h2 class="how-play-title">
          hOW TO <span class="yellow-text">PLAY?</span>
        </h2>

        <img
          srcset="
            assets/how-to-play/curve-arrow.png    1x,
            assets/how-to-play/curve-arrow@2x.png 2x
          "
          src="assets/how-to-play/curve-arrow.png"
          alt="Arrow"
          class="how-play-curve-arrow"
        />
      </div>

      <div class="how-play-text-subcontainer">
        <h3 class="how-play-subtitle">Explore the World</h3>
        <p class="how-play-text">
          Navigate through Okara’s intricate environments, uncovering hidden
          paths and ancient artifacts.
        </p>
      </div>
    </div>

    <img
      srcset="
        assets/how-to-play/how-to-play.png    1x,
        assets/how-to-play/how-to-play@2x.png 2x
      "
      src="assets/how-to-play/how-to-play.png"
      alt="How to play"
      class="how-play-main-img"
    />

    <div class="how-play-down-container">
      <img
        srcset="
          assets/how-to-play/yellow-drop.png    1x,
          assets/how-to-play/yellow-drop@2x.png 2x
        "
        src="assets/how-to-play/yellow-drop.png"
        alt="Drop"
        class="how-play-drop-img"
      />

      <a
        href="https://play.google.com/store/apps/details?id=com.cy.escapemerge"
        target="_blank"
      >
        <img
          srcset="
            assets/google-play-btn.png    1x,
            assets/google-play-btn@2x.png 2x
          "
          src="assets/google-play-btn.png"
          alt="Google play"
          class="how-play-google"
        />
      </a>
    </div>
  </div>
</section>
