<div class="backdrop">
  <div class="mobmenu">
    <ul class="mobmenu-list">
      <li class="mobmenu-item">
        <a class="mobmenu-link" href="#description">Game description</a>
      </li>
      <li class="mobmenu-item">
        <a class="mobmenu-link" href="#advantages">Advantages</a>
      </li>
      <li class="mobmenu-item">
        <a class="mobmenu-link" href="#howtoplay">How To Play</a>
      </li>
      <li class="mobmenu-item">
        <a class="mobmenu-link" href="#uniqueness">Our uniqueness</a>
      </li>
      <li class="mobmenu-item">
        <a class="mobmenu-link" href="#gallery">Gallery</a>
      </li>
    </ul>
  </div>
</div>
