.adv-title {
  margin-bottom: 32px;

  font-family: 'Finger Paint';
  font-size: 32px;
  font-weight: 400;
  line-height: calc(40 / 32);

  text-align: center;
  color: $_white_color;

  @include media(desktop) {
    color: $_white_color;
    font-size: 56px;
    line-height: calc(64 / 56);
  }
}

.adv-bcg {
  position: relative;

  background-color: #212728;
  background-image: url(/assets/advantages/adv-bcg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.adv-list {
  margin-bottom: 56px;
}

li.adv-item {
  @include media(desktop) {
    width: 864px;
    height: 160px;
    display: flex;
    align-items: center;
    gap: 100px;
  }
}

.adv-item-flex {
  @include media(desktop) {
    display: flex;
    align-items: center;
    min-width: 336px;
  }
}

.adv-item-avatar {
  width: 88px;
  height: 88px;

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 16px;

  border-radius: 16px;
  box-shadow: 4px 4px 24px 0px rgba(62, 84, 250, 0.4);

  @include media(desktop) {
    width: 160px;
    height: 160px;
    margin-right: 16px;
    margin-bottom: 0;
    margin-left: 0;

    border-radius: 32px;
  }
}

.adv-item-title {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: calc(24 / 20);
  margin-bottom: 32px;

  color: $_white_color;
  text-align: center;

  @include media(desktop) {
    width: 160px;
    margin-bottom: 0;

    font-size: 24px;
    line-height: calc(32 / 24); /* 133.333% */
  }
}

.adv-item-text {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: calc(16 / 12);

  color: $_main_color;

  @include media(desktop) {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}

.adv-arrow-list {
  display: flex;
  justify-content: center;
  gap: 48px;

  @include media(desktop) {
    flex-direction: column;
  }
}

.adv-arrow-item {
  width: 32px;
  height: 40px;

  @include media(desktop) {
    rotate: 90deg;
  }
}

.adv-drops {
  position: absolute;
  top: -24px;
  right: 0;

  width: 39px;
  height: 57px;

  z-index: 2;

  @include media(desktop) {
    top: -76px;
    right: -48px;

    width: 78px;
    height: 114px;
  }
}

div.adv-container {
  @include media(desktop) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 136px;
  }
}

// div.swiper-button-next::after,
// div.swiper-button-prev::after {
//   content: '';
// }

.swiper {
  @include media(desktop) {
    height: 352px;
  }
}

.swiper-button-prev-custom {
  width: 32px;
  height: 40px;

  background-image: url('/assets/advantages/arrow-left.png');
  background-repeat: no-repeat;
  background-size: contain;

  @include media(desktop) {
    width: 40px;
    height: 32px;
    background-image: url('/assets/advantages/arrow-top.png');
  }
}

.swiper-button-next-custom {
  width: 32px;
  height: 40px;

  background-image: url('/assets/advantages/arrow-right.png');
  background-repeat: no-repeat;
  background-size: contain;

  @include media(desktop) {
    width: 40px;
    height: 32px;
    background-image: url('/assets/advantages/arrow-down.png');
  }
}
