.gallery-title {
  margin-bottom: 32px;

  font-family: 'Finger Paint';
  font-size: 32px;
  font-weight: 400;
  line-height: calc(40 / 32); /* 125% */

  color: $_white_color;
  text-align: center;

  @include media(desktop) {
    margin-bottom: 64px;
    font-size: 56px;
    line-height: calc(64 / 56); /* 114.286% */
  }
}

.gallery-list {
  position: relative;
  height: 700px;

  @include media(desktop) {
    height: 400px;
  }
}

.gallery-item {
  position: absolute;
}

.gallery-item.left > div,
.gallery-item.right > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(7, 11, 15, 0.64);
  border-radius: 12px;

  @include media(desktop) {
    border-radius: 24px;
  }
}

.gallery-item.next > div,
.gallery-item.prev > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(7, 11, 15, 0.4);
  border-radius: 12px;

  @include media(desktop) {
    border-radius: 32px;
  }
}

.gallery-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.gallery-item {
  position: absolute;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.gallery-item.active {
  top: 100px;
  z-index: 5;
  @include media(desktop) {
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.gallery-item.active > img {
  width: 288px;
  height: 224px;
  border-radius: 24px;
  @include media(desktop) {
    width: 512px;
    height: 400px;
    border-radius: 40px;
    box-shadow: 4px 4px 24px 0px rgba(7, 11, 15, 0.4);
  }
}
.gallery-item.prev {
  top: 332px;
  right: -16px;
  z-index: 2;
  left: 118px;

  @include media(desktop) {
    top: auto;
    right: auto;
    bottom: 0;
    left: 88px;
  }
}
.gallery-item.prev > img {
  width: 186px;
  height: 222px;
  border-radius: 20px;

  @include media(desktop) {
    width: 248px;
    height: 296px;
    border-radius: 32px;

    box-shadow: 4px 4px 24px 0px rgba(7, 11, 15, 0.4);
  }
}
.gallery-item.next {
  top: 356px;
  right: 164px;
  @include media(desktop) {
    top: 0;
    right: 88px;
    z-index: 2;
  }
}
.gallery-item.next > img {
  width: 124px;
  height: 148px;
  border-radius: 12px;
  @include media(desktop) {
    width: 248px;
    height: 296px;
    border-radius: 32px;

    box-shadow: 4px 4px 24px 0 rgba(7, 11, 15, 0.4);
  }
}
.gallery-item.left {
  top: 0;
  left: 0;
  z-index: 1;
  @include media(desktop) {
    top: auto;
    bottom: 0;
    left: -80px;
  }
}
.gallery-item.left > img {
  width: 132px;
  height: 108px;
  border-radius: 12px;

  @include media(desktop) {
    width: 240px;
    height: 216px;
    border-radius: 24px;
    box-shadow: 4px 4px 24px 0 rgba(7, 11, 15, 0.4);
  }
}
.gallery-item.right {
  z-index: 1;
  top: 536px;

  @include media(desktop) {
    top: 0;
    right: -80px;
  }
}
.gallery-item.right > img {
  width: 200px;
  height: 164px;

  border-radius: 16px;

  @include media(desktop) {
    width: 240px;
    height: 216px;
    border-radius: 24px;

    box-shadow: 4px 4px 24px 0 rgba(7, 11, 15, 0.4);
  }
}
