.home-section {
  background-image: url('../assets/hero-bcg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.home-container {
  @include media(desktop) {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
}
.home-content {
  position: relative;
  margin-bottom: 32px;
  @include media(desktop) {
    max-width: 512px;
    padding-bottom: 248px;
  }
}
.home-title {
  font-family: 'Finger Paint', serif;
  font-size: 24px;
  line-height: 133%;
  color: $_secondary_color;
  margin-bottom: 16px;
  @include media(desktop) {
    font-size: 40px;
    line-height: 140%;
  }
}
.home-size-accent {
  font-size: 32px;
  line-height: 125%;
  @include media(desktop) {
    font-size: 56px;
    line-height: 114%;
  }
}
.home-color-accent {
  color: $_accent_color;
}
.home-text {
  font-size: 16px;
  line-height: 150%;
  color: $_secondary_color;
  margin-bottom: 32px;
  @include media(desktop) {
    font-size: 24px;
    line-height: 133%;
    margin-bottom: 40px;
  }
}
.home-description {
  font-size: 12px;
  line-height: 133%;
  margin-bottom: 32px;
  @include media(desktop) {
    font-size: 16px;
    line-height: 150%;
    position: absolute;

    bottom: 0;
  }
}
.home-description-accent {
  color: $_secondary_color;
}
.home-google-btn {
  width: 121px;
  height: 36px;
  @include media(desktop) {
    width: 168px;
    height: 49px;
    margin-bottom: 200px;
  }
}
.home-images {
  position: relative;
  width: 288px;
  height: 271px;
  @include media(desktop) {
    height: 461px;
    width: 490px;
  }
}
.home-img {
  position: absolute;
  border-radius: 15px;
  width: 117px;
  height: 235px;
  @include media(desktop) {
    border-radius: 25px;
    width: 200px;
    height: 400px;
    box-shadow: 5px 5px 30px 0 rgba(62, 84, 250, 0.4);
  }
}
.left-img {
  left: 20px;
  top: 22px;

  transform: rotate(8deg);
  opacity: 0.16;
  @include media(desktop) {
    top: 37px;
  }
}
.main-img {
  top: 20px;
  opacity: 1;
  z-index: 6;
  box-shadow: 3px 3px 18px 0 rgba(62, 84, 250, 0.4);
  left: 81px;

  @include media(desktop) {
    left: 48%;
    transform: translateX(-50%);
    top: 34px;
    box-shadow: 5px 5px 30px 0 rgba(62, 84, 250, 0.4);
  }
}
.right-img {
  top: 8px;
  right: 20px;
  opacity: 0.24;
  transform: rotate(-8deg);
}
