@import './header.scss';
@import './home.scss';
@import './description.scss';
@import './advantages.scss';
@import './howtoplay.scss';
@import './uniqueness.scss';
@import './gallery.scss';
@import './footer.scss';
@import './termsandconditions.scss';
@import './mobmenu.scss';

:root {
  font-family: Inter, serif;
  @include font(16, 150);
  font-weight: 400;

  color: $_main_color;
  background-color: $_main_bg_color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 320px;
  padding: 64px 16px;
  @include media(desktop) {
    width: 1200px;
    padding: 96px 80px;
  }
}
//bounce animation for hover
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1.2);
  }
}
