@import './header.scss';
@import './home.scss';
@import './description.scss';
@import './advantages.scss';
@import './howtoplay.scss';
@import './uniqueness.scss';
@import './gallery.scss';
@import './footer.scss';
@import './header.scss';
@import './header.scss';
@import './termsandconditions.scss';

:root {
  font-family: Inter, serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: $_main_color;
  background-color: $_main_bg_color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
